body {
background : #ff6600;
font-family: 'Raleway', sans-serif;
}
h1 {
font-size: 54px;

}
img {
height: auto;
width:475px ;
}
#title {
background:blue; 
width:450px;
border-radius: 7px;
}

#gamelink {
width: 600px;
	background:#ffff00;
	padding-left: 10px;
	padding-top: 10px;
	border-radius: 10px;
}

